.vactor-0-2 {
  position: absolute;
  right: 23%;
  transform: translateY(4rem);
}
.image-gallery p {
  text-align: center;
}

.gallery-sec {
  padding: 5rem 0;
  background-color: #f7f7f7;
}
.image-gallery img {
  margin: 5px 5px;
}

.gallery-main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery-main h1 {
  font-size: 65px;
  font-family: "Prata", serif;
}

.image-gallery {
  margin-top: 1rem;
  width: 1250px;
  display: flex;
  flex-wrap: wrap;
}

.gallery-main button {
  margin: 2rem 2rem 4rem;
}
.image-div {
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
}
.image-div p {
  position: absolute;
  font-size: 15px;
  font-weight: 500;
  opacity: 0;
  padding: 10px;
  transition: opacity 0.3s ease;
  color: #fff;
  pointer-events: none;
}

.image-div:hover .hidden-p {
  opacity: 1;
}

.image-div img {
  filter: brightness(100%);
  transition: filter 0.3s ease;
  transition: transform 0.3s ease;
}
.image-div img:hover {
  filter: brightness(55%);
  transform: scale(0.9);
}

.mediaGallerySwiper {
  display: none;
}

@media (max-width: 1250px) {
  .image-gallery {
    width: 90%;
    justify-content: center;
  }
  .image-div {
    width: 17rem;
  }
  .image-div img {
    width: 98%;
    height: 98%;
  }
}

@media (max-width: 472px) {
  .image-gallery {
    display: none;
  }
  .mediaGallerySwiper {
    display: flex;
  }
  .image-div {
    margin-left: 5rem;
  }
  .image-div img {
    width: 100%;
    min-height: 19rem;
    border-radius: 15px;
  }
  .mediaGallerySwiper .swiper-button-next:after {
    color: #000 !important;
    bottom: 2rem;
    position: absolute;
    right: 2rem;
    font-size: 25px;
    font-weight: bolder;
  }
  .mediaGallerySwiper .swiper-button-prev:after {
    color: #000;
    opacity: 0.3;
    bottom: 2rem;
    position: absolute;
    left: 1.5rem;
    font-size: 25px;
    font-weight: bolder;
  }
}
@media (max-width: 425px) {
  .image-div {
    margin-left: 55px;
  }
  .vactor-0-2 {
    right: 6%;
    transform: translateY(2rem);
  }
}

@media (max-width: 425px) {
  .gallery-main h1 {
    font-size: 40px;
  }
  .gallery-main button {
    margin: 0rem 2rem 3rem;
  }
}

@media (max-width: 375px) {
  .image-div {
    margin-left: 32px;
  }
  .mediaGallerySwiper .swiper-button-prev:after {
    left: -0.5rem;
  }
  .mediaGallerySwiper .swiper-button-next:after {
    right: 0rem;
  }
}
