#MainButton {
  background-color: #d2292d;
  color: #fff;
  border-radius: 15px 0;
  padding: 9px 27px;
  max-width: fit-content;
  text-transform: none;
}

#MainButton:hover {
  background-color: #fff;
  color: #d2292d;
  font-weight: bolder;
}

@media (max-width: 786px) {
  #MainButton {
    font-size: 12px;
  }
}
